[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "givitiR"]
	path = givitiR
	url = https://github.com/cran/givitiR
[submodule "polymatching"]
	path = polymatching
	url = https://github.com/gnattino/polymatching
